<form [formGroup]="form" (ngSubmit)="save()">
  <div>
    <label for="song-template-form-title">Titre</label>
    <input type="text" id="song-template-form-title"
           formControlName="title"
    >
    <p class="error-message" *ngIf="showErrorFor('title', 'required')">
      Merci de saisir un titre.
    </p>
  </div>
  <div>
    <label for="song-template-form-artist">Artiste</label>
    <input type="text" id="song-template-form-artist"
           formControlName="artist"
    >
    <p class="error-message" *ngIf="artist?.errors?.['required'] && artist?.touched">
      Merci de saisir un artiste.
    </p>
  </div>
  <div>
    <label for="song-template-form-year">Année</label>
    <input type="number" id="song-template-form-year"
           formControlName="year"
    >
    <p class="error-message" *ngIf="showErrorFor('year', 'min') || showErrorFor('year', 'max')">
      L'année doit se situer entre 1900 et 2200.
    </p>
  </div>
  <button [disabled]="form.invalid">Ajouter</button>
</form>
